*{
    margin: 0;
    padding: 0;
}

body{
    width: 360px;
    margin: 16px auto 48px auto;
}

h1{
    font-size: 24px;
    display: flex;
    justify-content: center;
    margin-bottom: 16px;
}

#map{
    height: 360px;
    width: 360px;
    margin-bottom: 16px;
}

.contenedor{
    width: 360px;
    min-height: 60px;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: minmax(60px, auto) minmax(60px, auto) minmax(60px, auto);
    grid-gap: 8px;
    justify-content: center;
    border: 1px solid black;
    border-radius: 10px;
    margin-bottom: 16px;
    background-color: rgb(222, 255, 229);
}

.info{
    width: 176px;
}

.info h3{
    display: flex;
    justify-content: center;
    margin-bottom: 8px;
}

.info span{
    display: flex;
    justify-content: center;
    max-width: 100%;
    overflow-wrap: break-word;
}

.inici{
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: rgb(239, 255, 245);
}
